.repo-header-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.8rem;
  margin-top: 1rem;
  color: white;
}

.repo-header-container svg {
  margin-right: 0.3rem;
}

.repos-number {
  margin-left: 0.5rem;
  background-color: grey;
  padding: 0.1rem 0.5rem;
  border-radius: 40%;
}

.repositories-header-container {
  padding: 0 0.5rem 0.5rem;
  border-bottom: 2px solid #F78166;
}

.repositories-header-container span {
  font-weight: 600;
}

.header-divider {
  margin: 0;
}