.repository-page-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.profile-info-container {
  width: 30%;
  padding: 1rem;
  margin: 1rem;
}

.repository-container {
  width: 65%; 
  padding: 1rem;
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .repository-page-container {
    flex-direction: column; 
    justify-content: center;
  }
  .profile-info-container {
    width: 100%;
    margin: auto;
  }
  .repository-container {
    width: 100%;
    padding: 0;
}
}