.app-background {
  background-image: url('../../assets/saveScreen.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  font-size: 2.5rem;
  margin-right: 2rem;
  color: rgb(163, 162, 162);
}

@keyframes appearInTheDistance {
  from {
    transform: translateY(-200px) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.app-screen {
  background-color: rgba(255, 255, 255, 0.2); 
  width: 80%;
  max-width: 1300px;
  height: 600px;
  overflow: auto; 
  scroll-snap-type: y mandatory; 
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
  border-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)) 1;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
  animation: appearInTheDistance 1s ease-out;

  /* Estilos para la barra de desplazamiento */
  scrollbar-width: thin;
  scrollbar-color: #091B29 #3a6687;

  /* Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 12px; /* Aumenta el ancho del scrollbar */
    border-radius: 12px; /* Aumenta el radio de borde del scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 12px; /* Aumenta el radio de borde del track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a6687;
    border-radius: 12px; /* Aumenta el radio de borde del thumb */
  }
  &::-webkit-scrollbar-corner {
    display: none; /* Oculta el scrollbar corner */
  }
}