.user-container {
  display: flex;
  flex-direction: column;
}

.user-container span {
  color: white;
  margin: 0.5rem 0;
}

.avatar-img {
  width: 90%;
  border-radius: 50%;
  border: 1px solid black;
  margin: auto;
}

.userName {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.5rem;
  color: white;
}

.user-login {
  color: white;
  margin: 0;
  padding-bottom: 0.5rem;
}

.follow-button {
  width: 90%;
  margin: 1rem 0;
}

.follow-container {
  width: 100%;
}

.follow-container .separator::before {
  content: '·';
  margin: 0 8px;
  color: white;
  font-size: 16px;
}

.user-container svg {
  color: white;
  padding-right: 0.4rem;
}

.github-link {
  margin: 1rem 0;
  text-decoration: none;
  cursor: pointer;
}