.chart-contain {
    background-color: #0d1117;
    opacity: 0.6;
    padding: 0.5rem;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
}

@media (max-width: 650px) {
    .chart-contain {
        display: none;
    }
  }